@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Roboto:ital,wght@0,300;0,500;1,300&family=Silkscreen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fefae0;
  font-family: "Silkscreen", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cute-gif2 {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cute-gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 30px;
}

.btn button {
  font-family: "Silkscreen", sans-serif;
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: #ffeb6c;
  font-size: 20px;
}

.btn-no {
  position: absolute;
  transition: none;
  margin-left: 10%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* optional spacing */
  }
  
.text h2 {
    text-align: center;
  }
  
#btnYes {
    cursor: pointer;
  }